### Question 0

*  Draw a concepts diagram that uses all the following Github terminology 
   * Include any missing keywords that will simplify the concepts diagrams 


`Push`, `Repository`, `Clone`, `Pull`, `Pull Request`, `Branch`, `Merging`, `Github Client`, `README file`, `Private or Public`

In [ ]:
# See dot file in my repository

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [15]:
a <- matrix(c(1,2,3,4,5,6) , nrow = 3, byrow=TRUE)
colnames(a) <- c('col_1', 'col_2')
rownames(a) <- c('row_1', 'row_2', 'row_3')
a

      col_1 col_2
row_1 1     2
row_2 3     4
row_3 5     6

#### Question 2

* Load then sort the airquality data frame on its `Temp` and `Solar.R` columns in reverse order (largest to smallest values)
  * The function to sort a data frame is called order
* Display only the first 15 lines of your table

In [4]:
# Write your answer here
# Don't why not call it data

data("airquality")
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [7]:
my_data <- data.frame(Name = c("Alice", "Bob", "Catherine", "David"),
                      Age = c(29, 34, 21, 45))

In [10]:
order(my_data$Age)

[1] 3 1 2 4

In [13]:
order(-my_data$Age)

[1] 4 2 1 3

In [14]:
my_data[order(my_data$Age), ]

  Name      Age
3 Catherine 21
1 Alice     29
2 Bob       34
4 David     45

In [11]:
my_data[order(-my_data$Age), ]

  Name      Age
4 David     45
2 Bob       34
1 Alice     29
3 Catherine 21

In [16]:
sorted_airquality <- airquality[order(-airquality$Temp, -airquality$Solar.R),]

In [17]:
head(sorted_airquality, 15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
121 118   225      2.3 94   8     29
123  85   188      6.3 94   8     31
42   NA   259     10.9 93   6     11
127  91   189      4.6 93   9      4
126  73   183      2.8 93   9      3
70   97   272      5.7 92   7      9
69   97   267      6.3 92   7      8
43   NA   250      9.2 92   6     12
102  NA   222      8.6 92   8     10
125  78   197      5.1 92   9      2
75   NA   291     14.9 91   7     14
124  96   167      6.9 91   9      1
40   71   291     13.8 90   6      9

#### Question 3

* Sort the airquality data frame on its `Temp` in decreasing order and `Solar.R` in increasing order
* Display only the first 15 lines of your table

In [ ]:
sorted_airquality <- airquality[order(-airquality$Temp, airquality$Solar.R),]

In [18]:
head(sorted_airquality, n=15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
121 118   225      2.3 94   8     29
123  85   188      6.3 94   8     31
42   NA   259     10.9 93   6     11
127  91   189      4.6 93   9      4
126  73   183      2.8 93   9      3
70   97   272      5.7 92   7      9
69   97   267      6.3 92   7      8
43   NA   250      9.2 92   6     12
102  NA   222      8.6 92   8     10
125  78   197      5.1 92   9      2
75   NA   291     14.9 91   7     14
124  96   167      6.9 91   9      1
40   71   291     13.8 90   6      9

#### Question 4

* There are various ways to select a subset of observations from a data frame.

* Consult your [R Reference Card](https://cran.r-project.org/doc/contrib/Baggott-refcard-v2.pdf), see `Data Selection and Manipulation` section.
  * What operations can you use to select all observations where the temperature is 72. Give at least two different answers to this question

##### Using Square Brackets

In [19]:
subset_data1 <- airquality[airquality$Temp == 72, ]
head(subset_data1)

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

##### Using the subset function

In [ ]:
subset_data2 <- subset(airquality, Temp == 72)
head(subset_data2)

In [ ]:
##### Using which

In [20]:
row_indices <- which(airquality$Temp == 72)
row_indices

[1]   2  48 114

In [22]:
subset_data3 <- airquality[row_indices, ]
head(subset_data3)

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

#### Question 6

* You may have noticed when working with the `airquality` data that some values show as `NA`
 * `NA` stands for not available, or missing values.
* A major part of data wrangling consists of cleaning missing values by either:
  * Dropping the lines that have missing values
   * Sometimes we can drop the column with missing values if the column is made of predominantly missing values
  * Imputing the missing values, which uses educated guesses (or more complex algorithms) to fill the missing values
  
* Find and remove all rows that are missing values for the `Solar.R` or `Ozone` variables
* Save the cleaned data to a new data frame called `airquality_no_na`
  * How many lines have been removed?
* hint; the `is.na` function can take a vector and return TRUE for each element is the element is NA or FALSE otherwise
* Ex. Consider
```R
my_vector <- c(NA, NA, NA, 42, 7, 3.14)
is.na(my_vector)
```
returns
```R
TRUE . TRUE . TRUE . FALSE . FALSE . FALSE
```

In [32]:
my_vector <- c(NA, NA, NA, 42, 7, 3.14)

[1] 42.00  7.00  3.14

In [33]:
is.na(my_vector)

[1]  TRUE  TRUE  TRUE FALSE FALSE FALSE

In [ ]:
my_vector[!is.na(my_vector)]

In [24]:
# Write your answer here
airquality_no_na <- airquality[!is.na(airquality$Solar.R) & !is.na(airquality$Ozone), ]
airquality_no_na

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
31   37   279      7.4 76   5     31
38   29   127      9.7 82   6      7
40   71   291     13.8 90   6      9
41   39   323     11.5 87   6     10
44   23   148      8.0 82   6     13
47   21   191     14.9 77   6     16
48   37   284     20.7 72   6     17
⋮   ⋮     ⋮       ⋮    ⋮    ⋮     ⋮
123 85    188      6.3 94   8     31
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [25]:
lines_removed <- nrow(airquality) - nrow(airquality_no_na)
lines_removed

[1] 42

#### Question 7
* Let's use a different strategy and impute the missing value.
  * replace the missing values for Solar.R using that month's average.
  * Example:
    * The missing value for line 6 should be replaced with the average for month 5.
    * The missing value for line 97 should be replaced with the average for month 8.
* Hint: this is painfully slow and inefficient solution and we'll better way of doing this in future lectures.

In [ ]:
data("airquality")

# Manually calculate the average Solar.R for each month
avg_May <- mean(airquality$Solar.R[airquality$Month == 5], na.rm = TRUE)
avg_June <- mean(airquality$Solar.R[airquality$Month == 6], na.rm = TRUE)
avg_July <- mean(airquality$Solar.R[airquality$Month == 7], na.rm = TRUE)
avg_Aug <- mean(airquality$Solar.R[airquality$Month == 8], na.rm = TRUE)
avg_Sept <- mean(airquality$Solar.R[airquality$Month == 9], na.rm = TRUE)

# Manually fill missing Solar.R values for May
airquality$Solar.R[is.na(airquality$Solar.R) & airquality$Month == 5] <- avg_May

# Manually fill missing Solar.R values for June
airquality$Solar.R[is.na(airquality$Solar.R) & airquality$Month == 6] <- avg_June

# Manually fill missing Solar.R values for July
airquality$Solar.R[is.na(airquality$Solar.R) & airquality$Month == 7] <- avg_July

# Manually fill missing Solar.R values for August
airquality$Solar.R[is.na(airquality$Solar.R) & airquality$Month == 8] <- avg_Aug

# Manually fill missing Solar.R values for September
airquality$Solar.R[is.na(airquality$Solar.R) & airquality$Month == 9] <- avg_Sept